@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Raleway&display=swap");

.Poppins {
    font-family: "Poppins";
}

::selection {
    background: #f59e0b;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(241 245 249);
}

::-webkit-scrollbar-thumb {
    background: #f59e0b;
    border: 3px solid rgb(241 245 249);
    border-radius: 100vh;
}
